header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    transition: 0.6s;
    z-index: 1000000;
}

header.sticky{
    padding: 5px 25px;
    background: white;
}

header .logo{
    position: relative;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    margin-left: 60px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-family: 'Bebas Neue', sans-serif;
}
header .logo:hover{
    color: #efc437;
}

header .logog{
    color: #1e3050;
    position: relative;
    font-weight: 700;
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    margin-left: 60px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-family: 'Bebas Neue', sans-serif;
}
header .logog:hover{
    color: #efc437;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    margin-top: 20px;
    margin-right: 40px;
    position: relative;
    text-decoration: none;
    color: #1e3050;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
header ul li a:hover{
    color: #efc437;
}

#last_nav{
    margin-right: 60px;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('back_index.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.banner h1{
    padding-top: 300px;
    text-align: center;
    align-items: center;
    align-content: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    color: white;
}

header.sticky .logo,
header.sticky ul li a{
    color: #1e3050;
}

.header.sticky .logo:hover{
    font-size: 40px;
}

header.sticky .logo:hover,
header.sticky ul li a:hover{
    color: #efc437;
}