*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: white;
    min-height: 200vh;
}

.container{
    width: 100%;
    height: 100vh;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 1fr 100px;

    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.container div{
    padding: 10px;
}

.head_er{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-size: 90px;
    align-items: center;
    align-content: center;
    font-family: 'Bebas Neue', sans-serif;
    color:#212529;
}

.content-large{
    margin-top: 85px;
    margin-left: 30px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #efc437;
    color: white;
}

.content-small{
    background-color: #216927;
    color: white;
    margin-right: 60px;
}

#okok{
    margin-top: 85px;
}

.content-large h1{
    text-align: center;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;;
}

.content-large h3{
    text-align: center;
    line-height: 32px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
}

.content-small h1{
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
}

.content-small h3{
    text-align: center;
    line-height: 32px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.head_er_1{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-size: 60px;
    font-family: 'Bebas Neue', sans-serif;
    color:#212529;
    margin-top: 1080px;
}

.content-large_1{
    margin-top: 85px;
    margin-left: 30px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    color: #212529;
    margin-top: 700px;
}

.head_er_1 h1{
    margin-right: 30px;
    margin-top: 40px;
}

#iframe_dip iframe{
    width: 1000px;
    height: 450px;
    margin-bottom: 100px;
    margin-top: 1200px;
}

#niav{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 600px;
    height: 325px;
}

.content-large_2{
    margin-top: 85px;
    margin-left: 30px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    color: #212529;
    margin-top: 700px;
}

.content-large_2 #uno{
    width: 700px;
    height: 420px;
    margin-top: 250px;
}

.content-small_2 #dos{
    color: white;
    margin-right: 50px;
    margin-top: 950px;
    height: 192.5px;
    width: 350px;
}

.content-smaller_2 #tres{
    width: 350px;
    height: 192.5px;
}

.head_er_12{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-size: 60px;
    font-family: 'Bebas Neue', sans-serif;
    color:#212529;
    margin-top: 750px;
}

.ohyea h1{
    margin-top: 300px;
}

.tummy h1{
    margin-top: 580px;
}

.loopsay h1{
    margin-top: 800px;
}